.card {
    border-color: rgb(222, 221, 221);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    display: flex;
    width: 75%;
    flex-direction: row;
    align-items: center;
    min-width: 320px;
    max-width: 600px;
    margin: 15px;
}
.icon-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    margin: 0;
    color: rgb(70, 70, 70);
}
.icon {
    height: 50px;
    width: 50px;
}
.card-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.card-title {
    font-size: 36px;
    font-family: "gill sans mt";
}
.card-mainthing {
    font-family: "gill sans mt";
}
.line {
    border-color: rgb(90, 90, 90);
    width: 100%;
    display: block;
    border-width: 1px;
    border-style: solid;
}
